#topics used in this notebook are:
#1. Pandas
#2. iterrows
#3. emumerate
#4. glob

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("csv_for_glob/Tab_7.3.1_outlay_expenditure.csv")
# df.head(10)
list_headers = list(df.columns.values)
print(list_headers)

['State/UTs', 'Agriculture and Allied Activities', 'Rural Development', 'Special Area Programmes', 'Irrigation and Flood Control', 'Energy', 'Industry and Minerals', 'Transport', 'Science Technology and Environment', 'General Economic Services', 'Social Services', 'General Services', 'Total']

In [3]:
#check the data for the headers
print(df[["Rural Development","Energy"]])

    Rural Development      Energy
0          1421005.38  2605978.60
1           144803.51     4649.83
2             2446.84    11883.52
3            20696.55    35455.00
4            65270.77    27043.83
5            45313.72    11132.83
6             2442.92    13033.16
7            47021.53    60772.32
8            36711.57    85714.51
9             8513.89    11005.24
10           12699.25    66907.94
11           96414.37    47685.00
12          103548.22   205071.72
13           20675.65    54795.56
14          133911.42   118594.36
15           91929.00   139820.00
16            3740.27    14244.08
17            9386.11    23418.31
18            4705.26     6756.11
19            7191.74     4277.21
20           13735.98    32989.63
21           39806.48   153558.98
22           73923.36   569237.98
23           10537.61     3866.07
24          147091.02   229183.76
25           11557.25     6765.97
26          175223.17   455280.91
27           20503.72    39427.77
28           71204.20   173407.00
29           29816.89   141445.80
30            3766.74     2853.38
31             947.14     2553.94
32             314.57     2262.45
33             324.31     1153.86
34           19996.66   125795.00
35             200.11     2346.51
36            4267.36     4480.66

In [4]:
for index, data in df[1:].iterrows() : #df[1:] will skip the first row which has the Totals
    data_social_service = data["Social Services"]
    data_agriculture = data['Agriculture and Allied Activities']
    data_rural_dev = data['Rural Development']
    state_names = data['State/UTs']
    print(index)
    print(state_names, data_social_service, data_agriculture, data_rural_dev)

1
Andhra Pradesh 815918.26 85717.39 144803.51
2
Arunachal Pradesh 30469.99 8926.24 2446.84
3
Assam 56515.8 12290.03 20696.55
4
Bihar 240292.21 30990.14 65270.77
5
Chhattisgarh 326132.29 24030.6 45313.72
6
Goa 50238.91 4633.35 2442.92
7
Gujarat 679338.56 89057.06 47021.53
8
Haryana 272559.53 10608.39 36711.57
9
Himachal Pradesh 93328.83 11389.06 8513.89
10
Jammu and Kashmir 111054.33 7727.2 12699.25
11
Jharkhand 207993.0 24185.33 96414.37
12
Karnataka 592673.8 141505.12 103548.22
13
Kerala 129621.65 20463.63 20675.65
14
Madhya Pradesh 349119.84 61908.22 133911.42
15
Maharashtra 758343.0 130299.0 91929.0
16
Manipur 29057.83 2259.31 3740.27
17
Meghalaya 28096.95 7430.17 9386.11
18
Mizoram 28378.1 5844.98 4705.26
19
Nagaland 28049.04 7105.67 7191.74
20
Orissa 199633.32 17618.17 13735.98
21
Punjab 114241.31 15099.2 39806.48
22
Rajasthan 383490.34 46527.89 73923.36
23
Sikkim 23125.31 3663.57 10537.61
24
Tamil Nadu 566516.94 91502.96 147091.02
25
Tripura 38467.04 7571.67 11557.25
26
Uttar Pradesh 825589.05 172875.37 175223.17
27
Uttaranchal 146782.58 31451.03 20503.72
28
West Bengal 367072.51 36590.01 71204.2
29
Union Territories Total 595224.88 13400.1 29816.89
30
Andaman and Nicobar Islands 20702.31 1506.85 3766.74
31
Chandigarh 24023.52 102.02 947.14
32
Dadra and Nagar Haveli 4172.61 312.72 314.57
33
Daman and Diu 2750.22 183.03 324.31
34
Delhi 478372.47 1417.26 19996.66
35
Lakshadweep 3222.89 2790.69 200.11
36
Puducherry 61980.86 7087.53 4267.36

In [16]:
"""
Get the descriptive stats for a given header name:
here we do for social services
"""
import numpy as np
list_soc_serv = []
for index, data in df[1:].iterrows() : #df[1:] will skip the first row which has the Totals
    data_social_service = data["Social Services"]
    state_names = data['State/UTs']
    list_soc_serv.append(data_social_service)
mean_soc_serv = np.mean(list_soc_serv)
median_soc_serv = np.median(list_soc_serv)
std_soc_serv = np.std(list_soc_serv)

print(list_soc_serv, mean_soc_serv, median_soc_serv, std_soc_serv)

[1882005.52, 63230.3, 286267.16, 1022119.64, 941385.0, 223616.31, 2053374.86, 819891.0, 123356.0, 163526.49, 535320.66, 1619299.0, 465013.0, 1107535.81, 2040583.0, 84157.72, 128825.0, 71583.23, 60828.0, 562386.54, 539475.67, 1081013.18, 72627.92, 1456807.02, 80394.89, 2690437.0, 344834.44, 1261167.3, 1258474.83, 62963.0, 58436.0, 19823.0, 17241.0, 960550.0, 16977.0, 122484.83] 674944.7588888889 404923.72 708582.3285428499

In [6]:
print(df[:1])

      State/UTs  Agriculture and Allied Activities  Rural Development  \
0  States Total                         1109270.76         1421005.38

   Special Area Programmes  Irrigation and Flood Control     Energy  \
0                657826.54                    3777256.48  2605978.6

   Industry and Minerals   Transport  Science Technology and Environment  \
0              467356.92  2892455.43                            251025.8

   General Economic Services  Social Services  General Services       Total
0                  667423.87       7492100.32          351450.8  21693150.9

In [7]:
from collections import defaultdict
dictionary_state_data = defaultdict(list)

for index, data in df[1:].iterrows() : #df[1:] will skip the first row which has the Totals
    data_social_service = data["Social Services"]
    data_agriculture = data['Agriculture and Allied Activities']
    data_rural_dev = data['Rural Development']
    state_names = data['State/UTs']
    
    dictionary_state_data[state_names] = [data_social_service, data_agriculture,data_rural_dev]
#     print(state_names, data_social_service, data_agriculture, data_rural_dev)
print(dictionary_state_data)

defaultdict(<class 'list'>, {'Andhra Pradesh': [815918.26, 85717.39, 144803.51], 'Arunachal Pradesh': [30469.99, 8926.24, 2446.84], 'Assam': [56515.8, 12290.03, 20696.55], 'Bihar': [240292.21, 30990.14, 65270.77], 'Chhattisgarh': [326132.29, 24030.6, 45313.72], 'Goa': [50238.91, 4633.35, 2442.92], 'Gujarat': [679338.56, 89057.06, 47021.53], 'Haryana': [272559.53, 10608.39, 36711.57], 'Himachal Pradesh': [93328.83, 11389.06, 8513.89], 'Jammu and Kashmir': [111054.33, 7727.2, 12699.25], 'Jharkhand': [207993.0, 24185.33, 96414.37], 'Karnataka': [592673.8, 141505.12, 103548.22], 'Kerala': [129621.65, 20463.63, 20675.65], 'Madhya Pradesh': [349119.84, 61908.22, 133911.42], 'Maharashtra': [758343.0, 130299.0, 91929.0], 'Manipur': [29057.83, 2259.31, 3740.27], 'Meghalaya': [28096.95, 7430.17, 9386.11], 'Mizoram': [28378.1, 5844.98, 4705.26], 'Nagaland': [28049.04, 7105.67, 7191.74], 'Orissa': [199633.32, 17618.17, 13735.98], 'Punjab': [114241.31, 15099.2, 39806.48], 'Rajasthan': [383490.34, 46527.89, 73923.36], 'Sikkim': [23125.31, 3663.57, 10537.61], 'Tamil Nadu': [566516.94, 91502.96, 147091.02], 'Tripura': [38467.04, 7571.67, 11557.25], 'Uttar Pradesh': [825589.05, 172875.37, 175223.17], 'Uttaranchal': [146782.58, 31451.03, 20503.72], 'West Bengal': [367072.51, 36590.01, 71204.2], 'Union Territories Total': [595224.88, 13400.1, 29816.89], 'Andaman and Nicobar Islands': [20702.31, 1506.85, 3766.74], 'Chandigarh': [24023.52, 102.02, 947.14], 'Dadra and Nagar Haveli': [4172.61, 312.72, 314.57], 'Daman and Diu': [2750.22, 183.03, 324.31], 'Delhi': [478372.47, 1417.26, 19996.66], 'Lakshadweep': [3222.89, 2790.69, 200.11], 'Puducherry': [61980.86, 7087.53, 4267.36]})

In [18]:
print(list_headers[1])

Agriculture and Allied Activities

In [20]:
for i in enumerate(list_headers) :
    print(i)

(0, 'State/UTs')
(1, 'Agriculture and Allied Activities')
(2, 'Rural Development')
(3, 'Special Area Programmes')
(4, 'Irrigation and Flood Control')
(5, 'Energy')
(6, 'Industry and Minerals')
(7, 'Transport')
(8, 'Science Technology and Environment')
(9, 'General Economic Services')
(10, 'Social Services')
(11, 'General Services')
(12, 'Total')

In [10]:
dictionary_state_data_2 = defaultdict(list)

for index, data in df[1:].iterrows() : #df[1:] will skip the first row which has the Totals
    
    dictionary_state_data_2[data[list_headers[0]]] = [data[list_headers[5]], data[list_headers[6]], data[list_headers[7]]]
print(dictionary_state_data_2)

defaultdict(<class 'list'>, {'Andhra Pradesh': [4649.83, 43692.69, 168905.12], 'Arunachal Pradesh': [11883.52, 991.45, 23407.55], 'Assam': [35455.0, 5834.22, 29634.74], 'Bihar': [27043.83, 28907.51, 334600.29], 'Chhattisgarh': [11132.83, 18318.34, 134366.96], 'Goa': [13033.16, 2389.99, 14030.24], 'Gujarat': [60772.32, 42825.23, 118304.14], 'Haryana': [85714.51, 10873.97, 53359.11], 'Himachal Pradesh': [11005.24, 2648.24, 35584.13], 'Jammu and Kashmir': [66907.94, 8812.8, 88555.23], 'Jharkhand': [47685.0, 9497.0, 46542.0], 'Karnataka': [205071.72, 50828.15, 267477.98], 'Kerala': [54795.56, 9707.72, 69402.07], 'Madhya Pradesh': [118594.36, 21795.51, 202023.86], 'Maharashtra': [139820.0, 20933.0, 176125.0], 'Manipur': [14244.08, 6247.72, 2512.0], 'Meghalaya': [23418.31, 2841.23, 16237.36], 'Mizoram': [6756.11, 2123.6, 13371.94], 'Nagaland': [4277.21, 4644.19, 7399.85], 'Orissa': [32989.63, 16494.43, 40813.83], 'Punjab': [153558.98, 20.0, 127493.8], 'Rajasthan': [569237.98, 17017.38, 67821.63], 'Sikkim': [3866.07, 2249.98, 4606.94], 'Tamil Nadu': [229183.76, 68124.33, 238748.9], 'Tripura': [6765.97, 3848.86, 17914.81], 'Uttar Pradesh': [455280.91, 10633.96, 454137.23], 'Uttaranchal': [39427.77, 1743.93, 83426.05], 'West Bengal': [173407.0, 53311.49, 55652.67], 'Union Territories Total': [141445.8, 8280.22, 255679.49], 'Andaman and Nicobar Islands': [2853.38, 403.79, 24054.86], 'Chandigarh': [2553.94, 87.94, 1965.58], 'Dadra and Nagar Haveli': [2262.45, 24.34, 1915.19], 'Daman and Diu': [1153.86, 53.35, 3499.56], 'Delhi': [125795.0, 1411.59, 204996.1], 'Lakshadweep': [2346.51, 91.64, 12159.58], 'Puducherry': [4480.66, 6207.57, 7088.62]})

In [11]:
"""
reading multiple files using glob module
"""
import glob

filelists = glob.glob("csv_for_glob/*.csv")
filelists.sort()
print(filelists)

['csv_for_glob/Tab_7.3.1_outlay_expenditure.csv', 'csv_for_glob/Tab_7.3.3_outlay_expenditure.csv', 'csv_for_glob/Tab_7.3.4_outlay_expenditure.csv', 'csv_for_glob/Tab_7.3.5_outlay_expenditure.csv', 'csv_for_glob/Tab_7.3.6_outlay_expenditure.csv']

In [12]:
for files in filelists:
    df = pd.read_csv(files)
    print(files)

csv_for_glob/Tab_7.3.1_outlay_expenditure.csv
csv_for_glob/Tab_7.3.3_outlay_expenditure.csv
csv_for_glob/Tab_7.3.4_outlay_expenditure.csv
csv_for_glob/Tab_7.3.5_outlay_expenditure.csv
csv_for_glob/Tab_7.3.6_outlay_expenditure.csv