In [78]:
list_of_students = ["student1", "student2", "student3", "student4"]
# start with creating the for loop

for k in list_of_students:
    print(k)

student1
student2
student3
student4

In [79]:
list_of_scores = [80, 65, 78, 84]
list_students_score = list(zip(list_of_students, list_of_scores))
print(list_students_score)

[('student1', 80), ('student2', 65), ('student3', 78), ('student4', 84)]

In [80]:
#creating a for loop of the above list of tuples - method 1

for (p, q) in list_students_score :
    print(p,q)

student1 80
student2 65
student3 78
student4 84

In [81]:
#method 2
for k in list_students_score :
    print(k[0], k[1])

student1 80
student2 65
student3 78
student4 84

In [82]:
list_of_grades = ["A", "B", "A-", "A"]
list_students_score_grades = list(zip(list_of_students, list_of_scores, list_of_grades))
print(list_students_score_grades)

[('student1', 80, 'A'), ('student2', 65, 'B'), ('student3', 78, 'A-'), ('student4', 84, 'A')]

In [83]:
list_students_score_grades2 = list(zip(list_students_score, list_of_grades))
print(list_students_score_grades2)
# the above will give you a nested structure

[(('student1', 80), 'A'), (('student2', 65), 'B'), (('student3', 78), 'A-'), (('student4', 84), 'A')]

In [84]:
# for (a, b, c) in list_students_score_grades:
#     print(a,b,c)

for k in list_students_score_grades:
    print(k[0],k[1],k[2])

student1 80 A
student2 65 B
student3 78 A-
student4 84 A

In [85]:
for k in list_students_score_grades2:
    print(k[0][0], k[0][1], k[1])

student1 80 A
student2 65 B
student3 78 A-
student4 84 A

In [86]:
#extending a list
list_of_new_students = ["student5", "student6"]
list_of_students.extend(list_of_new_students)
print(list_of_students)

['student1', 'student2', 'student3', 'student4', 'student5', 'student6']

In [87]:
#appending a list
list_new_2 = ["student8", "student11"]
list_of_students.append(list_new_2)
print(list_of_students)

['student1', 'student2', 'student3', 'student4', 'student5', 'student6', ['student8', 'student11']]

In [88]:
# nested list structures of level 2
list_nest_ex_1 = [[9,10,23,34],[35,2,4],[0,10,12,65],[9,11,34]]

#print first list:
print(list_nest_ex_1[0])

#print the first element of the first list
print(list_nest_ex_1[0][0])

print(list_nest_ex_1[-1][0])


# list_nest_ex_2 = [[[],[]],[[],[],[]],[[],[]],[[],[],[]]]

[9, 10, 23, 34]
9
9

In [89]:
#re-start with dictionary
list_stud_01 = ["student1", "student2", "student3", "student4"]
dictionary_stud_01 = dict(zip(list_stud_01, list_of_scores))

# print(dictionary_stud_01)
print(dictionary_stud_01.items())
print(dictionary_stud_01.keys())
print(dictionary_stud_01.values())

dict_items([('student1', 80), ('student2', 65), ('student3', 78), ('student4', 84)])
dict_keys(['student1', 'student2', 'student3', 'student4'])
dict_values([80, 65, 78, 84])

In [90]:
#creating the for loop for the above dictionary:
for keys in dictionary_stud_01:
    print(keys, dictionary_stud_01[keys])

student1 80
student2 65
student3 78
student4 84

In [91]:
print(dictionary_stud_01['student5']) #this will be giving us KeyError

KeyError: 'student5'

In [92]:
list_stud_01[0] = "student5"
print(list_stud_01)
print(dictionary_stud_01)
dictionary_stud_02 = dict(zip(list_stud_01, list_of_scores))
print(dictionary_stud_02)

['student5', 'student2', 'student3', 'student4']
{'student1': 80, 'student2': 65, 'student3': 78, 'student4': 84}
{'student5': 80, 'student2': 65, 'student3': 78, 'student4': 84}

In [93]:
dictionary_stud_vals = dict(zip(list_stud_01, list_nest_ex_1))

print(dictionary_stud_vals)

{'student5': [9, 10, 23, 34], 'student2': [35, 2, 4], 'student3': [0, 10, 12, 65], 'student4': [9, 11, 34]}

In [94]:
print(list(zip(list_stud_01, list_nest_ex_1)))

[('student5', [9, 10, 23, 34]), ('student2', [35, 2, 4]), ('student3', [0, 10, 12, 65]), ('student4', [9, 11, 34])]

In [95]:
#question: what about the unequal length of the second element in the tuple
for k in list(zip(list_stud_01, list_nest_ex_1)):
    print(k[1][3])
    
# Use of try and exception command while dealing with errors
"""
try:
    a = b
except IndexError:
    continue
"""

34

IndexError: list index out of range