In [ ]:
print("This is the first session in DOM305 Spring 2023")

In [ ]:
a = 10
b = 11
# The above examples are integer variables

print(a/b)

c = 10.0
d = 11.0
#These above examples are float variables
print(c/d)

In [ ]:
# Let's do some simple mathematics
"""
semicolon is used as an alternate to new line
"""
# This is addition
a = 3; b = 5
c = a+b
print(c)

# This is subtraction
d = a - b
print(d)

#This is multiplication
e = a*b
print(e)

In [ ]:
#define a list

list_of_students = ["student1", "student2", "student3", "student4"]
list_of_scores = [80, 65, 78, 84]
"""
We want to map the students with their respective scores: example
student1: 80, student2: 65, student3: 78 and so on
"""
list_students_score = list(zip(list_of_students, list_of_scores))

print(list_students_score)

In [ ]:
list_of_students[0] = "student5"
print(list_of_students)

In [ ]:
#I want to change the last element in the list of students
# you can try two ways: list_of_students[3] or list_of_students[-1]
list_of_students[-1] = "student8"

print(list_of_students)

In [ ]:
print(list_of_students[1:-1])

In [ ]:
# let's look into tuple data structures
tuple_of_students = ("student1", "student2", "student3", "student4")
tuple_of_students[0] = "student5"

# This will execute an Error. Tuples are not mutable. you cannot change the elements
# in the data like in lists.

In [ ]:
# now we will learn about dictionaries
dictionary_01 = {} # This is an example of an empty dictionary

list_of_students = ["student1", "student2", "student3", "student4"]
list_of_scores = [80, 65, 78, 84]

dict_students_score = dict(zip(list_of_students, list_of_scores))
print(dict_students_score)

In [ ]:
nlist_of_scores = [[80,78], [67,65], [77,78], [87,84]]
ndict_students_score = dict(zip(list_of_students, nlist_of_scores))
print(ndict_students_score)

In [ ]:
# access the value for a student: student1
print(ndict_students_score['student1'][0])

In [ ]:
ndict_students_score['student1'][0] = 89
print(ndict_students_score)

In [ ]:
# Creating the loop 
#method-1
for keys, values in ndict_students_score.items() :
    print(keys, values)

In [ ]:
#method-2
for keys in ndict_students_score:
    print(keys, ndict_students_score[keys])

In [ ]:
print(ndict_students_score.items())

In [ ]:
#some simple descriptive stats:
for keys, values in ndict_students_score.items() :
    mean_val = sum(values)/len(values)
    
    print(keys, values, mean_val)